<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rotaract Club Of WCE Sangli</title>
    <link rel="stylesheet" href="../css/team.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" type="image/png" href="../images/logo.png">
</head>
<body>
    <header class="header" data-header>
        <div class="container">
            <a href="../../index.html" class="logo">
              <img src="../images/logo.png" alt="Rotaract Club Logo" class="logo-image">
          </a>
          <h1><span class="club-name">Rotaract Club of WCE Sangli</span></h1>
          <button class="nav-open-btn" aria-label="Open Menu" data-nav-open-btn>
            <ion-icon name="menu-outline"></ion-icon>
          </button>
          <nav class="navbar" data-navbar>
            <a href="#" class="logo">Rotaract</a>
            <ul class="navbar-list">
              <li>
                <a href="../components/events.html" class="navbar-link" data-nav-link>
                  <span>Events</span>
                   </a>
              </li>
              <li>
                <a href="../components/team.html" class="navbar-link" data-nav-link>
                  <span>Team</span>
                     </a>
              </li>
              <li>
                <a href="../components/gallery.html" class="navbar-link" data-nav-link>
                  <span>Gallery</span>
                      </a>
              </li>
              <li>
                <a href="../components/contact.html" class="navbar-link" data-nav-link>
                  <span>Contact Us</span>
                    </a>
              </li>
            </ul>
          </nav>
        </div>
      </header>
      <div class="otc">
        <h1>Our Team</h1>
        <hr>
        </div>
    </div> 
        <div class="wrapper">
            <h2>BE Board</h2>
            <hr>
            <div class="members">
                <div class="team-mem">
                    <img src="../images/team/BE/pranthamesh-kinekar.jpg">
                    <h4>Rtr Prathamesh Kinekar</h4>
                    <p>International Service Director</p>
                </div>
                <div class="team-mem">
                    <img src="../images/team/BE/pranav-kadam.jpg">
                    <h4>Rtr Gauri Mohite</h4>
                    <p>Professional Development Director</p>
                </div>
                <div class="team-mem">
                    <img src="../images/team/BE/shrenik-jadhav.jpg">
                    <h4>Rtr Shrenik Jadhav</h4>
                    <p>Community Service Director</p>
                </div>
                <div class="team-mem">
                    <img src="../images/team/BE/yashraj-patil.jpg">
                    <h4>Rtr Yashraj Patil</h4>
                    <p>President</p>
                </div>
                <div class="team-mem">
                    <img src="../images/team/BE/tanaya-kadav.jpg">
                    <h4>Rtr Tanaya Kadav</h4>
                    <p>Editor-In-Chief</p>
                </div>
                <div class="team-mem">
                    <img src="../images/team/BE/shreyas-kore.png">
                    <h4>Rtr Shreyas Kore</h4>
                    <p>Web Designer</p>
                </div>
                <div class="team-mem">
                    <img src="../images/team/BE/pranav-kadam.jpg">
                    <h4>Rtr Mayur Savale</h4>
                    <p>Fundraising Director</p>
                </div>
            </div>
        </div> 
        <div class="tewrapper">
          <h2>TE Board</h2>
          <hr>
          <div class="members">
              <div class="team-mem">
                  <img src="../images/team/TE/sankalp-kamble.jpg">
                  <h4>Rtr Sankalp Kamble</h4>
                  <p>Secretary</p>
              </div>
              <div class="team-mem">
                  <img src="../images/team/TE/akshata-mishra.jpg">
                  <h4>Rtr Akshata Mishra</h4>
                  <p>Vice-President</p>
              </div>
              <div class="team-mem">
                  <img src="../images/team/TE/pranav-kadam.jpg">
                  <h4>Rtr Pranav Kadam</h4>
                  <p>Assistant Community Service Director</p>
              </div>
              <div class="team-mem">
                  <img src="../images/team/TE/yash-omase.jpg">
                  <h4>Rtr Yash Omase</h4>
                  <p>Assistant Club Service Director</p>
              </div>
              <div class="team-mem">
                  <img src="../images/team/TE/paras-wane.jpg">
                  <h4>Rtr Paras Wane</h4>
                  <p>Treasurer</p>
              </div>
              <div class="team-mem">
                <img src="../images/team/TE/priya-shelhalkar.jpg">
                <h4>Rtr Priya Shelhalkar</h4>
                <p>Assistant Club Service Director</p>
            </div>
          </div>
      </div> 
      <div class="sewrapper">
        <h2>SE Board</h2>
        <hr>
        <div class="members">
            <div class="team-mem">
                <img src="../images/team/SE/ruturaj-tanwade.jpg">
                <h4>Rtr Ruturaj Tanwade</h4>
                <p>Assistant Public Relations Officer</p>
            </div>
            <div class="team-mem">
              <img src="../images/team/SE/sakshi-magdum.jpg">
              <h4>Rtr Sakshi Magdum</h4>
              <p>Assistant Public Relations Officer</p>
          </div>
          <div class="team-mem">
            <img src="../images/team/SE/amman-sahoo.jpg">
            <h4>Rtr Amman Sahoo</h4>
            <p>Assistant Public Relations Officer</p>
        </div>
        <div class="team-mem">
          <img src="../images/team/SE/prachi-gele.jpg">
          <h4>Rtr Prachi Gele</h4>
          <p>Sergent-at-arms</p>
      </div>
            <div class="team-mem">
                <img src="../images/team/SE/atharv-risavade.jpg">
                <h4>Rtr Atharv Risavade</h4>
                <p>Joint Secretary</p>
            </div>
            <div class="team-mem">
                <img src="../images/team/SE/radhika-bhosale.png">
                <h4>Rtr Radhika Bhosale</h4>
                <p>Joint Secretary</p>
            </div>
            <div class="team-mem">
                <img src="../images/team/BE/pranav-kadam.jpg">
                <h4>Rtr Tanmay Chavan</h4>
                <p>Sergent-at-arms</p>
            </div>
            <div class="team-mem">
                <img src="../images/team/BE/pranav-kadam.jpg">
                <h4>Rtr Suyash Todkar</h4>
                <p>Assistant Public Relations Officer</p>
            </div>
            <div class="team-mem">
                <img src="../images/team/BE/pranav-kadam.jpg">
                <h4>Rtr Kajal Waghmode</h4>
                <p>Assistant Public Relations Officer</p>
            </div>
        </div>
    </div> 
    <div class="sewrapper">
      <h2>SE Board</h2>
      <hr>
      <div class="members">
          <div class="team-mem">
              <img src="../images/team/SE/sujal-kakade.jpg">
              <h4>Rtr Sujal Kakade</h4>
              <p>Assistant Public Relations Officer</p>
          </div>
          <div class="team-mem">
            <img src="../images/team/SE/ayush-nikhade.jpg">
            <h4>Ayush Nikhade</h4>
            <p>Assistant Public Relations Officer</p>
        </div>
        <div class="team-mem">
          <img src="../images/team/BE/pranav-kadam.jpg">
          <h4>Rtr Aryan Singh</h4>
          <p>Assistant Treasurer</p>
      </div>
      <div class="team-mem">
        <img src="../images/team/SE/sadik-kanwade.jpg">
        <h4>Rtr Sadik Kanwade</h4>
        <p>Assistant Treasurer</p>
    </div>
          <div class="team-mem">
              <img src="../images/team/SE/dhananjay-daghatate.jpg">
              <h4>Rtr Dhananjay Raghatate</h4>
              <p>Community Service Officer</p>
          </div>
          <div class="team-mem">
              <img src="../images/team/SE/kajal-ghodake.jpg">
              <h4>Rtr Kajal Ghodake</h4>
              <p>Community Service Officer</p>
          </div>
          <div class="team-mem">
              <img src="../images/team/BE/pranav-kadam.jpg">
              <h4>Rtr Prasad Kamble</h4>
              <p>Community Service Officer</p>
          </div>
          <div class="team-mem">
              <img src="../images/team/SE/prathmesh-choudhary.jpg">
              <h4>Rtr Prathamesh Choudhary</h4>
              <p>Sub-Editor</p>
          </div>
      </div>
  </div> 
   <!-- 
   <div class="sel2wrapper">
      <h2>SE Board</h2>
      <hr>
      <div class="members">
        <div class="team-mem">
          <img src="../images/team/SE/sujal-kakade.jpg">
          <h4>Rtr Sujal Kakade</h4>
          <p>Assistant Public Relations Officer</p>
      </div>
          <div class="team-mem">
              <img src="../images/team/SE/ayush-nikhade.jpg">
              <h4>Rtr Ayush Nikhade</h4>
              <p>Professional Development Officer</p>
          </div>
          <div class="team-mem">
              <img src="../images/team/BE/pranav-kadam.jpg">
              <h4>Rtr Aryan Singh</h4>
              <p>Assistant Treasurer</p>
          </div>
          <div class="team-mem">
              <img src="../images/team/SE/sadik-kanwade.jpg">
              <h4>Rtr Sadik Kanwade</h4>
              <p>Assistant Treasurer</p>
          </div>
          <div class="team-mem">
              <img src="../images/team/BE/pranav-kadam.jpg">
              <h4>Rtr Kajal Ghodake</h4>
              <p>Community Service Officer</p>
          </div>
          <div class="team-mem">
              <img src="../images/team/SE/dhananjay-daghatate.jpg">
              <h4>Rtr Dhananjay Raghatate</h4>
              <p>Community Service Officer</p>
          </div>
          <div class="team-mem">
              <img src="../images/team/BE/pranav-kadam.jpg">
              <h4>Rtr Prasad Kamble</h4>
              <p>Community Service Officer</p>
          <div class="team-mem">
                <img src="../images/team/SE/prathmesh-choudhary.jpg">
                <h4>Rtr Prathamesh Choudhary</h4>
                <p>Sub-Editor</p>
          </div>
          </div>
      </div>
  </div> 
-->
        <div class="sewrapper">
          <h2>SE Board</h2>
          <hr>
          <div class="members">
              <div class="team-mem">
                  <img src="../images/team/SE/pratiksha-dudhal.jpg">
                  <h4>Rtr Pratiksha Dudhai</h4>
                  <p>Club Service Coordinator</p>
              </div>
              <div class="team-mem">
                  <img src="../images/team/BE/pranav-kadam.jpg">
                  <h4>Rtr Ashish Karhade</h4>
                  <p>Club Service Coordinator</p>
              </div>
              <div class="team-mem">
                  <img src="../images/team/SE/pravin-bagul.jpg">
                  <h4>Rtr Pravin Bagul</h4>
                  <p>Club Service Coordinator</p>
              </div>
              <div class="team-mem">
                  <img src="../images/team/BE/pranav-kadam.jpg">
                  <h4>Rtr Sakshi Sawant</h4>
                  <p>Club Service Coordinator</p>
              </div>
              <div class="team-mem">
                  <img src="../images/team/SE/darshana-masal.jpg">
                  <h4>Rtr Darshana Masal</h4>
                  <p>Sub-Editor Web</p>
              </div>
              <div class="team-mem">
                  <img src="../images/team/SE/gaurang-todkar.jpg">
                  <h4>Rtr Gaurang Todkar</h4>
                  <p>Sub-Editor Web</p>
              </div>
              <div class="team-mem">
                  <img src="../images/team/SE/abhijeet-gorhe.jpg">
                  <h4>Rtr Abhijeet Gorhe</h4>
                  <p>Sub-Editor Web</p>
              </div>
              <div class="team-mem">
                <img src="../images/team/SE/himanshu-dhage.jpg">
                <h4>Rtr Himanshu Dhage</h4>
                <p>Sub-Editor Web</p>
            </div>
            <div class="team-mem">
                <img src="../images/team/SE/pramodkumar-kute.jpg">
                <h4>Rtr Pramodkumar Kute</h4>
                <p>Sub-Editor Web</p>
            </div>
          </div>
      </div> 
      
      <footer class="footer" style="text-align: center;">
        <div class="container" >
          <ul class="footer-list" style="list-style-type: none; padding: 0; display: flex; justify-content: center; align-items: center;">
            <li>
              <a href="./assets/components/contact.html" class="footer-link">Contact Us</a>
            </li>
            <li style="display: flex; align-items: center;">
              <a href="https://www.instagram.com/wcerotaract/" target="_blank" class="footer-link" style="display: flex; align-items: center;">
                <ion-icon name="logo-instagram" style="margin-right: 5px;"></ion-icon> Instagram
              </a>
            </li>
            <li style="display: flex; align-items: center;">
              <a href="https://www.linkedin.com/company/rotaract-club-of-wce-sangli/" target="_blank" class="footer-link" style="display: flex; align-items: center;">
                <ion-icon name="logo-linkedin" style="margin-right: 5px;"></ion-icon> LinkedIn
              </a>
            </li>
          </ul>
        </div>
      </footer>
    
  <script src="../js/script.js"></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    </body>
</html>
